.tooltip {
  position: absolute;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 4px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s; /* Fade effect */
  z-index: 1000
}

.tooltip.visible {
  opacity: 1;
}

#controls {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1000;
  display: flex;
  gap: 10px;
}

select {
    padding: 5px;
    font-size: 14px;
    border-radius: 4px;
}

body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

svg {
  display: block;
}